.buttonLiga {
    background-color: #ddd;
    border-radius: 20px;
    border: none;
    color: black;
    width: 100%;
    padding: 20px 20px 20px 20px;
    float: none;
    text-align: center;
    font-size: 16px;
    transition: 1s;
}
.buttonDesliga{
    background-color: #ddd;
    border-radius: 20px;
    width: 100%;
    padding: 20px 20px 20px 20px;
    border: none;
    color: black;
    text-align: center;
    font-size: 16px;
    transition: 1s;
}
.buttonDesliga:hover{
    background-color: red;
    color: white;
    
}
.buttonLiga:hover{
    background-color: #3e8e41;
    color: white;
}
div.comodo {
    max-width: 15%;
    margin: auto;
    border: 3px solid cadetblue;
    border-radius: 20px;
}
p{
    text-align: center;
    text-decoration-color: none;
    font-size: 12px;
    font-style: oblique;
}
